body {
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  display: flex; /* it works with grid too  */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.informationContainer {
  background-color: hsl(244, 38%, 16%);
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.mainInformation {
  width: 50%;
  position: relative;
  left: 50px;
  padding-top: 20px;
}

.mainInformation h1 {
  font-family: "Inter", sans-serif;
  color: white;
}

.mainInformation span {
  color: hsl(277, 64%, 61%);
}

.mainInformation p {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 20px;
}

.imageContainer {
  margin: 0px;
  padding: 0px;
  width: 50%;
  background-image: url(imgs/image-header-desktop.jpg);
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
  border-radius: 0px 10px 10px 0px;
}

.secondaryInformation {
  display: flex;
  flex-direction: row;
}

.tagOne,
.tagTwo,
.tagThree {
  padding: 10px;
}

.tagOne h4,
.tagTwo h4,
.tagThree h4 {
  font-family: "Inter", sans-serif;
  color: white;
}

.tagOne p,
.tagTwo p,
.tagThree p {
  font-weight: 200;
  position: relative;
  bottom: 20px;
}
