body {
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  display: flex; /* it works with grid too  */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.informationContainer {
  background-color: hsl(244, 38%, 16%);
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.mainInformation {
  width: 50%;
}

.imageContainer {
  margin: 0px;
  padding: 0px;
  width: 50%;
  background-image: url(imgs/image-header-desktop.jpg);
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
}
