body {
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  display: flex; /* it works with grid too  */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mobileHeader {
  display: none;
}

.mobileimg {
  display: none;
}

.informationContainer {
  background-color: hsl(244, 38%, 16%);
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.mainInformation {
  width: 50%;
  position: relative;
  left: 50px;
  padding-top: 20px;
}

.mainInformation h1 {
  font-family: "Inter", sans-serif;
  color: white;
}

.mainInformation span {
  color: hsl(277, 64%, 61%);
}

.mainInformation p {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 20px;
}

.imageContainer {
  margin: 0px;
  padding: 0px;
  width: 50%;
  background-image: url(imgs/image-header-desktop.jpg);
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
  border-radius: 0px 10px 10px 0px;
}

.secondaryInformation {
  display: flex;
  flex-direction: row;
}

.tagOne,
.tagTwo,
.tagThree {
  padding: 10px;
}

.tagOne h4,
.tagTwo h4,
.tagThree h4 {
  font-family: "Inter", sans-serif;
  color: white;
}

.tagOne p,
.tagTwo p,
.tagThree p {
  font-weight: 200;
  position: relative;
  bottom: 20px;
}

@media screen and (max-width: 885px) {
  body {
    overflow: scroll;
  }

  .mobileimg {
    height: 300px;
    width: 100%;
    display: block;
    background-image: url(imgs/image-header-mobile.jpg);
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
  }

  .informationContainer {
    background-color: hsl(244, 38%, 16%);
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .mainInformation {
    position: relative;
    left: 80px;

    width: 200px;
  }

  .mainInformation h1,
  .mainInformation br {
    display: none;
  }

  .mobileHeader {
    display: block;
    font-size: 1.2rem;
  }

  .mobileHeader h2 {
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
  }

  .mainInformation p {
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    line-height: 30px;
  }

  .secondaryInformation {
    display: flex;
    flex-direction: column;
  }

  .tagOne h4,
  .tagTwo h4,
  .tagThree h4 {
    position: relative;
    left: 70px;
    font-size: 1.5rem;
    margin: 0px;
  }
}
